.button {
  font-size: 1.125rem !important;
  z-index: 1;
}

.button:hover {
  border-radius: 1rem;
  transition: all ease-in 0.1s;
}

.button-primary {
  background-color: var(--primary) !important;
  border: 2px solid var(--primary);
  color: var(--white) !important;
}

.button-secondary {
  background-color: transparent !important;
  border: 2px solid var(--primary) !important;
}

.button-secondary.button-secondary--alt {
  border: 2px solid var(--secondary) !important;
}

.button-secondary:not(.button--darkText) {
  color: var(--white) !important;
}

.button .button--darkText {
  color: var(--dark);
}

.btn--preIcon {
  color: var(--secondary);
  margin-right: 0.5rem;
}
