.feature {
  background-color: rgba(0, 0, 0, 0.035);
  padding: 2rem;
  text-align: center;
  height: 100%;
}

.feature:hover {
  transform: scale(1.025);
  transition: transform 0.1s ease-in;
}

.feature-container:nth-of-type(even) .feature {
  background-color: rgba(0, 0, 0, 0.02);
}

.feature i {
  font-size: 1.5rem;
  color: var(--primary);
}

.feature h4 {
  margin: 0.75rem 0;
}

.feature p {
  margin: 0;
}
