:root {
  --primary: #70a854;
  --secondary: #4e753a;
  --accent: #8a559e;
  --white: #fff;
  --light: #fcfcfc;
  --lightGray: #fafafa;
  --mediumGray: #eee;
  --dark: #272727;
  --header-font: "Nunito", sans-serif;
  --font: "Roboto", sans-serif;
  --navbar-height: 70px;
  --boxShadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
/* 194038 */
h2,
h3,
h4 {
  font-family: var(--header-font);
}
body {
  margin: 0;
  background-color: #fafafa !important;
  font-family: var(--font) !important;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  padding: 2rem 0;
}

.hyperlink {
  font-weight: bold;
  font-family: var(--header-font);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary);
}

.hyperlink:hover {
  text-decoration: underline;
  color: var(--secondary);
}

.white-bg {
  background-color: var(--white);
}

.lightGray-bg {
  background-color: var(--lightGray);
}

.mediumGray-bg {
  background-color: var(--mediumGray);
}

.secondary-bg {
  background-color: var(--secondary);
}

.primary-bg {
  background-color: var(--primary);
}

/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes beat {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

/* container-lg one side, container-fluid other side */
/* Inspiration from https://stackoverflow.com/questions/24955726/bootstrap-grid-fluid-to-one-side */

@media (min-width: 768px) {
  .multi-container .container {
    max-width: calc(((100% - 750px) / 2) + 750px) !important;
    width: unset !important;
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .multi-container .container {
    width: calc(((100% - 960px) / 2) + 960px) !important;
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .multi-container .container {
    width: calc(((100% - 1140px) / 2) + 1140px) !important;
    margin-right: 0;
  }
}

@media (min-width: 1400px) {
  .multi-container .container {
    max-width: calc(((100% - 1320px) / 2) + 1320px) !important;
    width: unset !important;
    margin-right: 0;
  }
}
