:root {
  --primary: #3f925d; /*#70a854*/
  --secondary: #285d3b; /* #4e753a; */
  --secondaryOpacity: rgba(40, 93, 59, 0.95);
  --accentComp: #5d284a;
  --accent: #53c27c;
  --white: #fff;
  --light: #fcfcfc;
  --lightGray: #fafafa;
  --mediumGray: #eee;
  --dark: #272727;
  --header-font: "Nunito", sans-serif;
  --font: "Roboto", sans-serif;
  --navbar-height: 80px;
  --boxShadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
/* 194038 */
h2,
h3,
h4 {
  font-family: var(--header-font);
}
body {
  margin: 0;
  background-color: #fafafa !important;
  font-family: var(--font) !important;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  padding: 2rem 0;
}

.hyperlink {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  color: var(--secondary) !important;
}

.hyperlink:hover {
  text-decoration: underline;
}

.white-bg {
  background-color: var(--white);
}

.lightGray-bg {
  background-color: var(--lightGray);
}

.mediumGray-bg {
  background-color: var(--mediumGray);
}

.secondary-bg {
  background-color: var(--secondary);
}

.primary-bg {
  background-color: var(--primary);
}

.light-text {
  color: var(--light);
}

.accent-text {
  color: var(--accent);
}

/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes beat {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes rotate {
  0% {
    transform: rotatez(0deg);
    opacity: 0.25;
  }
  15% {
    transform: rotatez(360deg);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotatez(360deg);
    opacity: 0.25;
  }
}

/* container-lg one side, container-fluid other side */
/* Inspiration from https://stackoverflow.com/questions/24955726/bootstrap-grid-fluid-to-one-side */

@media (min-width: 768px) {
  .multi-container .container {
    max-width: calc(((100% - 750px) / 2) + 750px) !important;
    width: unset !important;
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .multi-container .container {
    width: calc(((100% - 960px) / 2) + 960px) !important;
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .multi-container .container {
    width: calc(((100% - 1140px) / 2) + 1140px) !important;
    margin-right: 0;
  }
}

@media (min-width: 1400px) {
  .multi-container .container {
    max-width: calc(((100% - 1320px) / 2) + 1320px) !important;
    width: unset !important;
    margin-right: 0;
  }
}

/* width */
::-webkit-scrollbarx {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-trackx {
  background: var(--mediumGray);
}

/* Handle */
::-webkit-scrollbar-thumbx {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hoverx {
  background: var(--secondary);
}

.input-invalid {
  color: #ffff56;
}

.form-label.custom-form-label {
  display: flex;
  justify-content: space-between;
}
